
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

#peli {
  background-image: url("img/card_back.jpg");
  width: 800px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
body {
  background-color: #000;

}
.kortti {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
}



.selka.flip {
transform: rotateY(180deg);
}



.selka,
.naama {
  position: absolute;
  backface-visibility: hidden;
}


/*.A.flip,
.B.flip,
.C.flip,
.D.flip {
  transform: rotateY(180deg);
}*/
.kortti:active {

  transform: scale(0.97);

  transition: transform .2s;

}
